<md-content class="Page-container auth-bg">
    <user_profile auth-user="$resolve.authUser"></user_profile>
</md-content>

<rl-modal id="thumbnail_upload">
    <upload-media upload-params="data.uploadParams"></upload-media>
</rl-modal>

<rl-modal id="banner_upload">
    <upload-media upload-params="data.uploadParams"></upload-media>
</rl-modal>
