
.notif-container{
    height: auto;
    border-top: 1px solid fade(#333, 10%);
    padding-top: 10px;
    min-height: auto;
}

.notif__actions{
    font-size: 10px;
    padding: 10px 0;
    text-align: center;
}

.notif__from,
.notif__message{
    display: block;
    margin: 0 auto;
    margin-bottom: 7px;
}

.notif__message{
    font-size: 15px;
    padding: 0 10px;
}

.notif__from{
    border-radius: 50%;
}

.menu-item-trigger{
    overflow: visible;
}

.notif-count{
    position: absolute;
    font-size: 10px;
    height: 20px;
    min-width: 20px;
    background-color: red;
    border-radius: 50%;
    line-height: 19px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 1px solid rgba(255,255,255,.3);
    top: -2px;
    right: -6px;
}