<md-menu>
 <!-- Trigger element is a md-button with an icon -->            
 <md-button 
     ng-click="$mdMenu.open($event)" 
     class="md-icon-button menu-item-trigger" 
     aria-label="Open sample menu">
   <i class="ion-email"></i>
   <span class="notif-count" ng-if="vm.getUnseenCount()">{{ vm.getUnseenCount() }}</span>
 </md-button>
 <md-menu-content class="menu-item-content" ng-mouseover="vm.see()">
   <div class="menu-heading">
        <i class="ion-email"></i>
   </div>
   <md-menu-item class="notif-container" ng-repeat="notif in vm.notifications">
      <div class="notif">
          <div class="notif__content">
            <img src="http://placehold.it/60x60" class="notif__from" />
            <div class="notif__message" ng-bind-html="notif.message|trust"></div>
          </div>     
          <div class="notif__actions" ng-if="!notif.is_seen">
            <a class="rl-btn">Decline</a>
            <a class="rl-btn" ui-sref="app.post.accept({id: notif.data.post.id})">Accept</a>
          </div>
      </div>
   </md-menu-item>
 </md-menu-content>
</md-menu>