<md-content class="Page-container bg auth-bg">
    <div class="bg__overlay"></div>
    <div class="Login-formContainer login-box" 
         layout="column" 
         layout-align="center center">
        <h1 class="md-headline">Log in to your account</h1>
        <login-form></login-form>
    </div>
</md-content>
