@import "./angular/material/project";
@brand: #ea0aea;
@brandText: darken(@brand, 20%);

.page-heading{
    text-align: center;
    padding: 2.4em 0;
    background-color: @brand;
    background-image: linear-gradient(90deg, @brand, darken(@brand, 10%));
}

.page-heading .button{
    color: @brandText;
}

.page-heading .container{
    max-width: 80%;
}

.main-menu {
    float: right;
    position: relative;
    top: -6px;
    color: #fff;
}

.menu-item-content{
    background-color: #fff;
    color: @brandText;
}

.bts-logo{
    display: inline-block;
    float: left;
}

.menu-item-trigger{
    font-size: 25px;
}

.menu-heading{
    text-align: center;
    font-size: 25px;
}

[class*="-row "],[class$="-row"]{
    width: 100%;
    margin: 0 auto;
}

[class*="-container "],[class$="-container"]{
    max-width: 1300px;
    margin: 0 auto;
}

.profile-header-container{
    padding-bottom: 20%;
}

.main-content-row{
    background-color: #fff;
}

.main-content-container{
    position: relative;
}

.user-info-bar{
    float: left;
    width: 30%;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @media only screen and (max-width: 768px) {
        float: none;
        width: 100%;
        position: relative;
    }
}

.user-info--more{
    @media only screen and (max-width: 768px) {

        display: none;

        &.user-info--open{
            display: block;
        }
    }
}

.user-info-bar{
    @media only screen and (max-width: 768px) {
        height: 200px;
        padding: 0 30px;

        &.user-info-bar--open{
            height: auto;
        }
    }
}

.user-info-toggle{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    font-size: 1.6em;
    text-align: center;
    cursor: pointer;
    border-radius: 11px;
    border: 1px solid #ccc;
    padding: 0px 15px;
    color: #ccc;
}

.user-avatar{
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    top: -70px;
    height: 140px;
    width: 140px;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all .3s ease;

    &:hover{
        border: 10px solid @brand;
    }
}

.user-avatar-img{
    opacity: 0;
}

.user-info-content{
    position: relative;
    top: -70px;
}

.user-info-block{
    text-align: center;
    padding: 20px 0;
    font-size: .8em;
}

.user-info-block--lead{
    border-bottom: 1px solid #ddd;
}

.user-info--lead-2{
    color: #aaa;
    display: block;
    margin-bottom: 10px;
}

.input-editable{
    display: block;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #ddd;
}

.user-info--lead{
    font-weight: bold;
}

.user-profile-content{
    float: left;
    width: 70%;
    margin-left: 30%;
    padding: 30px;
    background-color: #eee;

    @media only screen and (max-width: 768px) {

        float: none;
        width: auto;
        margin: 0;
    }
}

*{
    outline: none !important;
}

.profile-header-container{
    position: relative;
}

.bottom-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.bottom-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

.user-profile-content{
    min-height: 700px;
}

.fade.ng-enter{
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active{
    opacity: 1;
}

.fade.ng-leave{
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active{
    opacity: 0;
}

.static-chip{
    border: 1px solid #ea0aea;
    color: #ea0aea;
    display: inline-block;
    padding: .6em 1em;
    border-radius: 30px;
    line-height: 1em;
    margin-right: .5em;
    margin-bottom: .5em;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition:  all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.static-chip:hover,
.static-chip--active{
    background-color: #ea0aea;
    color: #fff;
}

.user-profile-content__menu{
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5em;
    padding: 1em 0;

    @media only screen and (max-width: 768px) {
        font-size: .75em;
    }
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container{
    z-index: 99999;
}

.user-avatar--block{
    margin: 0 auto;
    display: block;
    top: 0;
    height: 70px;
    width: 70px;
    border: none;
}

.user-block-info{
    float: left;
}

.user-block{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #111;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.user-block-avatar-container{
    float: left;
    width: 10%;
}

.user-block-info{
    float: left;
    width: 90%;
    padding-left: 28px;
}

.user-block-name{
    margin: 0;
    font-size: 17px;
    margin-bottom: 8px;
    font-family: 'Lato';
}

.user-block-bio{
    font-size: 14px;
}

.input-block-i{
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.input-block-i:focus{
    border: 1px solid @brandText;
}

.post-box__photo .user-avatar{
    position: absolute;
    top: 50%;
    margin-top: -38px;
    left: 50%;
    border: 2px solid #fff;
    margin-left: -37px;
}

.post-box__stats{
    border: 1px solid #ccc;
    border-radius: 3.5em;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.1);
    margin-bottom: 16px;
}

.stat-heading{
    margin: 0;
    margin-bottom: 14px;
}

.stat-avatar{
    display: inline-block;
    margin-bottom: 7px;
    z-index: 9;
    border: 1px solid @brandText;
}

.stat-sender, .stat-recipient{
    position: relative;
}

.stat-user__name{
    position: absolute;
    top: 45px;
    left: -51px;
    border: none;
    z-index: 9;
    text-decoration: none;
    font-size: 11px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.stat-user--sender .stat-user__name{
    left: auto;
    right: -51px;
}



.stat-sender{
    margin-bottom: 50px;
}

.post-box__stats .md-bar.md-bar2{
    height: 20px;
    background-color: @brandText;
}

.post-box__stats .md-mode-determinate{
    height: 7px;
}

.post-box__stats md-progress-linear{
    width: 80%;
    z-index: 1;
    margin-left: 61px;
    top: 34px;

    @media only screen and (max-width: 768px) {
        width: 80%;
    }

    @media only screen and (max-width: 450px) {
        width: 60%;
    }
}

.stat-recipient{
    margin-left: 15px;
}

.stat-sender--lead .stat-avatar{
    border-width: 4px;
    width: 80px;
    height: 80px;
}

.stat-percentage{
    position: absolute;
    top: -6px;
    right: -15px;
    z-index: 999;
    font-size: .8em;
    padding: 0px 4px;
    border-radius: 1em;
    background-color: @brand;
    color: #fff;
}

.stat-user--recipient .stat-percentage{
    right: 52px;
}

.sep{
    opacity: .2;
    margin-bottom: 10px;
}

md-toast {
    z-index: 1000 !important;
}
