<md-content class="Page-Container page-heading">
	<div class="container">
		<a class="bts-logo" ui-sref="app.home">
			<img src="/img/bts-logo.png" class="bts-logo__image" />
		</a>

		<div class="main-menu">

			<md-menu>
			 <!-- Trigger element is a md-button with an icon -->
			 <md-button ui-sref="app.post" class="md-icon-button menu-item-trigger" aria-label="Create Post">
			   <i class="ion-edit"></i>
			 </md-button>
			</md-menu>


			 <notification></notification>


			<md-menu>
			 <!-- Trigger element is a md-button with an icon -->
			 <md-button 
			     ui-sref="app.me"
			     class="md-icon-button menu-item-trigger">
			   <i class="ion-person"></i>
			 </md-button>
			</md-menu>
		</div>
	</div>
</md-content>
<div class="rl-modal-overlay"></div>
