<md-content class="Page-Container Footer iOS-hack" layout-align="center center">
<div class="Footer-text">
    <a class="bts-logo" ui-sref="app.home" href="#!/">
        <img src="/img/bts-logo.png" class="bts-logo__image">
    </a>
</div>
<div class="Footer-text">
	&copy; 2017 Battleships
</div>
</md-content>
