<div class="message-box">
    <div class="message-box__inner">
        <img src="http://www.placehold.it/75x75" 
             class="message-box__recipient avatar-sm"/>
        <h2 class="message-box__heading" ng-if="!vm.message.heading">
            {{ vm.message.name }} Sent to {{ vm.recipient.name }}!
        </h2>
        <h2 class="message-box__heading" ng-if="vm.message.heading">
            {{ vm.message.heading }}
        </h2>
        <p class="message-box__body" ng-if="vm.message.body">
          {{ vm.message.body }}
        </p>
        <a class="message-box__action rl-btn rl-btn--block"
           ui-sref="{{vm.redirect}}">
               Ok
           </a>
    </div>
</div>