<div class="user-search-input">
    <input type="text" ng-model="vm.keyword" class="input-block-i" ng-change="vm.search(vm.keyword)" />
</div> 
<div class="user-list">
    <a ui-sref="app.profile({id:user.id})" class="user-block clearfix fade" ng-repeat="user in vm.users">
        <div class="user-block-avatar-container">
            <img image-resolve="user" image-type="profilePic" class="user-avatar user-avatar--block"/>
        </div>
        <div class="user-block-info">
            <h2 class="user-block-name">{{ user.name }}</h2>
            <div class="user-block-bio">{{ user.about }}</div>
        </div>
    </a>
</div>