<md-content class="Page-container post-container bg auth-bg">
    <div class="bg__overlay"></div>
    <create-post-form></create-post-form>
</md-content>

<rl-modal id="find_user">
    <find_user_form_context find-user-params="data.userParams"></find_user_form_context>
</rl-modal>

<rl-modal id="upload_options">
    <upload-media upload-params="data.uploadParams"></upload-media>
</rl-modal>
