.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

.post-list-block{
    max-width: 700px;
    margin: 0 auto;
}

.post-box{
    padding: 0;
    max-width: 700px;  
    overflow: hidden;  
}

.post-box__photos{
    cursor: pointer;
}

.post-box__photo {
    background-size: cover;
    background-position: center;
    width: 50%;
    float: left;
    padding-bottom: 45%;
    position: relative;
}

.post-box__photo > *{
    z-index: 99;
    position: relative;
}

.post-box__photo:hover{ 

    &::after{
        background-color: fade(#000, 20%);
    }
}

.post-box__photo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: fade(#000, 30%);
    .transition(all .3s ease-in-out);
}

.post-box__photo-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    font-size: 1em;
    padding: 20px 0;
    color: #fff;
    background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    opacity: .8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    /* background-color: #000; */
    padding: 40px 10px 20px;
}

.post-box__photo:hover .post-box__photo-caption{
    opacity: 1;
}

.post-box__photo:nth-child(2) .post-box__photo-caption{
    text-align: left;
}

.post-box__like{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: transparent;
    color: #fff;
    font-size: 2.3em;
}

.post-box__body{
    padding: 1.5em;
    text-align: left;
    position: relative;
}

.post-box__photo:nth-child(2) .post-box__like{
    right: 10px;
    left: auto;
}

.post-box__vs{
    position: absolute;
    top: 50%;
    left: 100%;
    font-size: 30e;
    font-weight: bold;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.post-box__title {
    margin: 0 auto;
    margin-bottom: 1.2em;
    cursor: pointer;
    line-height: 1.3em;
    font-size: 1.5em;
    text-transform: uppercase;
}

.post-box__posted-at{
    position: absolute;
    bottom: -7px;
    font-size: .8em;    
}

.post-box__author{
    font-size: .8em;
    display: block;
}

post_list{
    min-height: 250px;
}

.stat{
    position: relative;
    height: 72px;
}

.stat-user{
    position: absolute;
}

.stat-user--recipient,
.stat-user--sender{
    right: 0;
    top: 0;
}

.stat-user--sender{
    right: auto;
    left: 0;
}