<div class="post-list-block">
    <search-input posts="vm.posts" post-type="vm.postType" related-user="vm.relatedUser"></search-input>
    <div class="post-box fade" ng-repeat="post in vm.posts">
        <div class="post-box__photos clearfix">
            <div class="post-box__photo"
                 style="background-image: url( {{ post.images[0].file_name }} )">
                    <like class="post-box__like" post="post" side="sender" on-save="vm.likePost(post)"></like>
                    <div class="post-box__photo-caption">
                        {{ post.description }}
                        <span class="post-box__author">
                            {{ post.sender.name||'unknown' }}
                        </span>
                    </div>
                    <div class="post-box__vs">
                        VS
                    </div>
            </div>
            <div class="post-box__photo"
                 style="background-image: url( {{ post.images[1].file_name }} )">
                    <like class="post-box__like" post="post" side="recipient" on-save="vm.likePost(post)"></like>
                    <img ng-show="!post.response_description"
                         image-resolve="post.recipient"
                         image-type="profilePic"
                         class="user-avatar user-avatar--block"/>

                    <div class="post-box__photo-caption">
                        {{ post.response_description }}
                        <span class="post-box__author">
                            {{ post.recipient.name||'unknown' }}
                        </span>
                    </div>
            </div>
        </div>
        <div class="post-box__body clearfix">
            <h1 class="post-box__title">
                {{ post.title }}
            </h1>
            <p class="post-box__posted-at">
                Posted by {{ post.sender.name||'unknown' }} {{ post.created_at | timeAgo:'yyyy-dd-MM'}}
            </p>
            <div class="post-box__stats" ng-if="post.liked">
                <div class="stat">
                    <span class="stat-user stat-user--sender">
                        <span class="stat-percentage">
                            {{ post.sender_like_stat }}%
                        </span>
                        <img image-resolve="post.sender"
                             image-type="profilePic"
                             class="user-avatar user-avatar--block stat-avatar"/>
                        <a class="stat-user__name" ui-sref="app.profile({'id':post.sender.id})">
                            {{ post.sender.name }}
                        </a>
                    </span>
                    <md-progress-linear
                        md-mode="determinate"
                        value="{{ post.sender_like_stat }}">
                    </md-progress-linear>
                    <span class="stat-user stat-user--recipient">
                        <span class="stat-percentage">
                            {{ post.receiver_like_stat }}%
                        </span>
                        <img image-resolve="post.recipient"
                             image-type="profilePic"
                             class="user-avatar user-avatar--block stat-avatar"/>
                        <a class="stat-user__name"  ui-sref="app.profile({'id':post.recipient.id})">
                            {{ post.recipient.name }}
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>