
<div class="battle-container" ng-if="!vm.postSuccess">
    <img class="post-request-avatar" src="http://placehold.it/70x70"/>
    <div class="subject-line"></div>
    <h1 class="post-request-heading">
        {{ vm.post.sender.name }} sent you a Battle Request:
    </h1>
    <div class="post-box accept-post-box">
        <div class="post-box__leader accept-post-box__leader"
             style="background-image:url({{ vm.post.images[0].file_name  }})"
             ng-click="vm.showPostMedia()">
            <span class="accept-post-box__play">
                <i class="ion-play"></i>
            </span>
            <h1 class="accept-post-box__heading">{{ vm.post.title }}</h1>
        </div>
        <div class="post-box__body">
            {{ vm.post.description }}
        </div>
    </div>

    <div class="accept-c2a-group" ng-if="!vm.accepted">
        <a class="rl-btn c2a-btn" ng-click="vm.decline()">
            <i class="ion-ios-close-outline"></i> Decline
        </a>
        <a class="rl-btn c2a-btn" ng-click="vm.accept()">
            Accept <i class="ion-checkmark"></i>
        </a>
    </div>

    <div class="accept-c2a-group" ng-if="vm.accepted">
        <h2 class="heading-w">Create Your Battle Response</h2>
    </div>



    <form ng-submit="vm.submit()" ng-if="!vm.postSuccess && vm.accepted" class="post-form clearfix">

        <div class="row">
            <h1 class="post-form__heading">Create Response</h1>
        </div>

        <div class="post-form__column pull-left"
             ng-class="{'image-selected':vm.post.images[1].preview_url}"
             ng-style="{'background-image':'url('+vm.post.images[1].preview_url+')'}">

             <div class="upload-options__overlay">
                <a class="rl-btn rl-btn--fab upload-edit" ng-click="vm.showUploadModal()">
                    <i class="ion-edit"></i>
                </a>
             </div>

            <div class="upload-options">
                <a class="rl-btn rl-upload-trigger rl-btn--fab rl-btn--xl" ng-click="vm.showUploadModal()">
                    <md-icon>file_upload</md-icon>
                </a>
            </div>

            <md-input-container ng-if="!vm.media.preview_url" class="input-block upload-options-label">
                <label>Upload Media</label>
            </md-input-container>
        </div>
        <div class="post-form__column pull-right">

            <md-input-container class="input-block">
                <label>Title</label>
                <input type="text" ng-model="vm.post.response_title" placeholder="Post Title"/>
            </md-input-container>

            <md-input-container class="input-block">
                <label>Description</label>
                <textarea ng-model="vm.post.response_description" placeholder="Post Description"></textarea>
            </md-input-container>

            <md-input-container class="input-block">
                <label>Tags</label>
                <md-chips ng-model="vm.tags" placeholder="Choose tags"></md-chips>
            </md-input-container>

            <a class="rl-btn pull-right" ng-click="vm.submit()">Accept</a>
        </div>
        <div class="recipient-block align-bottom">
            <h4 class="recipient-block__title">Battling</h4>
            <div class="recipient-block__name">{{ vm.post.sender.name }}</div>
        </div>
    </form>
</div>

<message-send-success
    ng-if="vm.postSuccess"
    recipient="vm.post.recipient"
    attachment="vm.post.attachment"
    redirect="vm.post.redirect"
    message="vm.post.message"></message-send-success>