<header class="profile-header-row clearfix bg auth-bg"
        bg-image="{{ vm.edit.user.bannerPic }}">
    <div class="profile-header-container">
        <a ng-if="vm.loggedUser.id === vm.user.id" href=""
           class="rl-btn rl-btn--fab bottom-right"
           ng-click="vm.openBannerModal()">
            <i class="ion-edit"></i>
        </a>
    </div>
</header>

<div class="main-content-row clearfix">
    <div class="main-content-container clearfix">
        <aside class="user-info-bar" ng-class="{'user-info-bar--open':vm.showDetails}">
            <div class="user-avatar"
                bg-image="{{ vm.edit.user.profilePic }}"
                placeholder-image="'/img/profile.png'"
                ng-click="vm.loggedUser.id === vm.user.id ? vm.openThumbnailModal() : null">
                <img ng-src="{{ vm.media.preview_url ? vm.media.preview_url : '/img/profile.png' }}"
                     class="user-avatar-img"/>
            </div>
            <div class="user-info-content" name="editUserForm">
                <div class="user-info-block user-info-block--lead">
                    <span class="user-info user-info--lead">
                        {{ vm.user.name }}
                    </span>
                </div>
                <div class="user-info user-info--more" ng-class="{'user-info--open':vm.showDetails}">
                  <div class="user-info-block">
                      <span class="user-info user-info--lead-2" input-focus="#userAbout" ng-click="vm.toggleEditable('userAbout')">
                          About
                      </span>
                      <div ng-if="!vm.editable.userAbout">{{ vm.edit.user.about }}</div>
                      <textarea ng-if="vm.editable.userAbout"
                                id="userAbout"
                                ng-model="vm.edit.user.about"
                                class="input-editable"
                                rows="15"></textarea>
                  </div>
                  <div class="user-info-block">
                      <span class="user-info user-info--lead-2"
                            ng-click="vm.toggleEditable('userInterests')"
                            input-focus="#userInterests">
                          Interests
                      </span>
                      <div>
                          <span class="static-chip fade" ng-repeat="interest in vm.edit.user.interests">
                              {{ interest }}
                          </span>
                      </div>
                      <form ng-submit="vm.appendInterest(vm.interestTag)" name="interestForm">
                          <input ng-if="vm.editable.userInterests"
                                 type="text"
                                 id="userInterests"
                                 class="input-editable"
                                 ng-model="vm.interestTag" />
                      </form>
                  </div>
                </div>
            </div>
            <a class="user-info-toggle" ng-click="vm.toggleDetails()">
              <i class="ion-more"></i>
            </a>
        </aside>
        <main class="user-profile-content">
            <div class="user-profile-content__menu">
                <a class="static-chip"
                   ng-click="vm.setContent('browse', $event)"
                   ng-class="{'static-chip--active':vm.contentName==='browse'}">
                    Discover
                </a>
                <a class="static-chip"
                   ng-click="vm.setContent('accepted', $event)"
                   ng-class="{'static-chip--active':vm.contentName==='accepted'}">
                    Accepted
                </a>
                <a class="static-chip"
                   ng-click="vm.setContent('pending', $event)"
                   ng-class="{'static-chip--active':vm.contentName==='pending'}">
                    Pending
                </a>
                <a class="static-chip pull-right"
                   ng-click="vm.setContent('people', $event)"
                   ng-class="{'static-chip--active':vm.contentName==='people'}">
                   <i class="ion-person"></i>   People
                </a>
            </div>

            <div class="user-profile-content__inner" ng-if="vm.contentName === 'browse'">
                <post_list></post_list>
            </div>
            <div class="user-profile-content__inner" ng-if="vm.contentName === 'accepted'">
                <post_list related-user="vm.edit.user.id" post-type="'accepted'"></post_list>
            </div>
            <div class="user-profile-content__inner" ng-if="vm.contentName === 'pending'">
                <post_list related-user="vm.edit.user.id" post-type="'pending'"></post_list>
            </div>
            <div class="user-profile-content__inner" ng-if="vm.contentName === 'people'">
                <people_search></people_search>
            </div>
        </main>
        <div class="user-info-block bottom-bar fade" ng-if="vm.isChanged">
            <md-button class="md-raised" ng-click="vm.cancelEdit()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="vm.save()">Save</md-button>
        </div>
    </div>
</div>