    <div class="instagram-container">
        <div ng-if="vm.media && vm.media.video_id">
            <video width="100%" height="320px" playsinline="" poster="{{ vm.media.file_name }}" preload="none" src="{{ vm.media.video_id }}" type="video/mp4" loop="" controls=""></video>
        </div>
        <div ng-if="vm.media && !vm.media.video_id">
            <img src="{{ vm.media.file_name }}">
        </div>
    </div>