.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}

.accept-post-box{
    padding-top: 0;
    margin-bottom: 50px;
}

.accept-post-box__leader{
    padding-bottom: 41%;
    background-size: cover;    
    position: relative;
}

.accept-post-box__leader::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    .transition(all .3s ease-in-out);
    opacity: .3;
}

.accept-post-box__leader:hover{
    
    cursor: pointer;

    &::after{
        opacity: .6;
    }
}

.accept-post-box__heading{
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9;
    padding: 0 20px;
    color: #fff;
    text-align: left;
    display: table;
    max-width: 80%;
}

.accept-post-box__play{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    text-align: center;
    margin-top: -25px;
    z-index: 9;
    line-height: 48px;
    font-size: 25px;
    text-indent: 3px;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.post-request-avatar{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
    box-shadow: 1px 1px 3px fade(#000, 20%);
    margin-bottom: 20px;
}

.post-request-heading {
    text-align: center;
    color: #fff;
    font-size: 2.4em;
    margin: 0 auto 1em;
}

.accept-c2a-group{
    text-align: center;
}