
[class*="-box "],[class$="-box"]{
    display: block;
    border-radius: 3px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

[class*="-box__heading "],[class$="-box__heading"],
[class*="-box__body "],[class$="-box__body"]{
    text-align: center;
    line-height: 1.5em;
}

[class*="-box__body "],[class$="-box__body"]{
    color: #333;
}

.avatar-sm{
    margin: 0 auto;
    display: table;
    border-radius: 50%;
    border: 3px solid purple;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);    
}