@brand: #ea0aea;

.heading-w{
    color: #fff;
}

.rl-btn{
    line-height: 2em;
    height: 2em;
    width: auto;
    text-decoration: none;
    display: inline-block;
    padding: 0 1.2em;
    cursor: pointer;
    background-color: #eee;
    font-size: 1.3em;
    border-radius: 3px;
    text-align: center;
}

.rl-btn:hover{
    background-color: #ddd;
}

.rl-btn--primary{
    color: #fff;
    background-color: @brand;
}

.rl-btn--active{
    color: #fff;
    background-color: @brand;
    position: relative;

    &:hover{
        background-color: @brand;
    }

    &::after{
        content: "";
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        border-radius: inherit;
        background-color: #fff;
        z-index: -1;
    }
}

.rl-btn--primary:hover{
    background-color: darken(@brand, 5%);
}


.rl-btn--fab{
    border-radius: 50%;
    width: 2em;
    padding: 0;
    margin-right: .5em;
}

.rl-btn .material-icons{
    font-size: .9em;
    position: relative;
    top: -4px;
}

.rl-btn md-icon{
    height: auto;
    width: auto;
}

.rl-btn--xl{
    font-size: 4.6em;
}

.rl-btn--block{
    display: block;
}