
@brand: #e009df;

.rl-modal{
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 650px;
    height: 300px;
    width: 100%;
    margin-left: -325px;
    margin-top: -150px;
    z-index: 999;
    opacity: 0;
    display: none;

    @media only screen and (max-width: 768px) {
        max-width: 80%;
    }
}

.rl-modal--open{
    display: block;
    transition: all .3s ease; 
    transform: translateY(100px); 
}

.rl-modal--open.rl-modal--in{
    opacity: 1;
    transform: translateY(0);
}

.rl-modal__close{
    position: absolute;
    top: 23px;
    right: 0;
    display: inline-block;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
}

.rl-modal__heading{
    color: #fff;
}

.rl-modal-overlay{
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: fade( @brand, 80%);
    z-index: 999;
}

.rl-modal-bg--open .rl-modal-overlay{
    opacity: 1;
    display: block;
}

#upload_options.rl-modal{
    max-width: 300px;
    margin-left: -150px;
}