
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";

@brand: purple;

.transition (@transition) {
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
}


.subject-line{
    max-width: 300px;
    border-bottom: 1px solid fade(#000, 10%);
    margin: 0 auto;
    display: block;    
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}

.auth-bg{
    background-image: url('/img/bts-login-bg.jpg');
}

.bg{
    background-size: cover; 
    position: relative;
}

.bg > *:not(.bg__overlay) {
    z-index: 9;
    position: relative;
}

.bg__overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: fade( @brand, 30% );
}



a{
    .transition(all .3s ease);
}

.input-block{
    display: block;
}

.post-form{
    position: relative;
    max-width: 750px;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
}

.post-form__column{
    width: 50%;
    float: left;

    @media @smartphones, @tablets {
        width: 100%;
        float: none;
    }    
}

.align-bottom{
    position: absolute;
    bottom: 0;
    left: 0;

    @media @smartphones{
        position: relative;
        margin: 0;
    }    
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}