@brand: #ea0aea;
@black: #535362;
@grey: #888888;
@navy: #21455B;
@border: #E9F0F3;
@background: #F6F9FA;

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

h1,h2,h3,h4,h5{
    font-family: 'Poiret One', cursive;
}

.clearfix::after,.clearfix::before{
    content: "";
    display: table;
    clear: both;
}

html, *{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.post-form__heading{
    margin-top: 0;
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised{
    background-color: @brand;
}

.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover{
    background-color: darken(@brand, 10%);
}

md-chips.md-default-theme md-chip.md-focused, md-chips md-chip.md-focused{
    background-color: darken(@brand, 10%);
}