@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";


.recipient-block{
    padding: .9em 2em;
    width: 50%;
    background-color: #eee;

    @media only screen and (max-width: 568px) {
        padding: .5em .5em;
        width: auto;
        background-color: transparent;
    }        
}

.recipient-block__title{
    margin: 0;
    font-size: .8em;
}

.recipient-block__selection{
    margin-left: 0;
    padding-left: 2em;
    padding-right: 2em;
    border: 1px solid #ccc;
}