.upload-options{
    text-align: center;
}

.upload-options-label{
    position: relative;
    top: -22px;
    text-indent: -13px;
    text-align: center;    
}

/*
.rl-upload-trigger{
    background: transparent;
    color: #000;
    border: 3px solid #999;
    padding: 44px;
}
*/

.upload-pending .upload-options-block{
    display: none;
}

.upload-preview-image{
    position: relative;
    border-radius: 3px;
}

.upload-preview-image__options{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: fade(#fff, 10%);
}

.upload-preview-image{
    text-align: center;
}

.upload-media-preview{
    display: inline-block;
    max-width: 100%;
}

.upload-preview-image__option-box{
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    background-color: transparent;
    box-shadow: none;
}

.upload-option-action-group{
    text-align: center;
}