<md-content class="Page-container bg auth-bg">
    <div class="bg__overlay"></div>
	<div flex="80" flex-offset="10" class="register-box">
		<div class="Register-formContainer" layout="column" layout-align="center center">
			<h1 class="md-headline">Create an account</h1>

			<register-form></register-form>

		</div>
	</div>
</md-content>
