

.upload-options{
    margin: 2em 0;
}

.post-form{
    @media only screen and (max-width: 768px) {
        max-width: 80%;
        padding: 10px;
    }
}

.post-form__column{
    background-size: cover;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    float: right;

    @media only screen and (max-width: 768px) {
        float: none;
        width: auto;
        margin: 0 auto;
    }
}

.post-form__column:nth-child(2){
    height: 0;
    padding-bottom: 39%;
    float: left;

    @media only screen and (max-width: 768px) {
        float: none;
        height: auto;
        padding-bottom: 0;
    }
}

.post-form__submit{
    float: right;

    @media only screen and (max-width: 568px) {
        float: none;
        width: 100%;
    }
}

.image-selected .upload-options{
    display: none;
}

.rl-upload-trigger{
    margin-right: 0;
}

.upload-options__overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: fade(#000, 40%);
    display: none;
}

.image-selected .upload-options__overlay{
    display: block;
}

.upload-edit{
    margin: 15px;
}

.input-block.w label,
input.w{
    color: #fff !important;
}

input.w{
    border-bottom-color: #fff !important;
}

.upload-option-type > .input-block{
    margin-top: 1.8em;
}