<form ng-submit="vm.submit()" ng-if="!vm.postSuccess" class="post-form clearfix">

    <div class="row">
        <h1 class="post-form__heading">Create Post</h1>
    </div>

    <div class="post-form__column" 
         ng-class="{'image-selected':vm.media.preview_url}"
         ng-style="{'background-image':'url('+vm.media.preview_url+')'}">

         <div class="upload-options__overlay">
            <a class="rl-btn rl-btn--fab upload-edit" ng-click="vm.showUploadModal()">
                <i class="ion-edit"></i>
            </a>
         </div>

        <div class="upload-options"> 
            <a class="rl-btn rl-upload-trigger rl-btn--fab rl-btn--xl" ng-click="vm.showUploadModal()">
                <md-icon>file_upload</md-icon>
            </a>
        </div>

        <md-input-container ng-if="!vm.media.preview_url" class="input-block upload-options-label">
            <label>Upload Media</label>
        </md-input-container>            
    </div>
    <div class="post-form__column">
        
        <md-input-container class="input-block">
            <label>Title</label>
            <input type="text" ng-model="vm.title" placeholder="Post Title"/>
        </md-input-container>    

        <md-input-container class="input-block">
            <label>Description</label>
            <textarea ng-model="vm.description" placeholder="Post Description"></textarea>
        </md-input-container>

        <md-input-container class="input-block">
            <label>Tags</label>
            <md-chips ng-model="vm.tags" placeholder="Choose tags"></md-chips>   
        </md-input-container>

        <a class="rl-btn rl-btn--primary post-form__submit" ng-click="vm.submit()">Send</a>
    </div>
    <div class="recipient-block align-bottom">
        <h4 class="recipient-block__title">Battling</h4>
        <md-button class="recipient-block__selection" ng-click="vm.chooseRecipient()">
            {{ vm.recipient ? vm.recipient.name : 'Choose Battler'  }}
        </md-button>
    </div>       
</form>

<message-send-success 
    ng-if="vm.postSuccess"
    recipient="vm.post.recipient"
    attachment="vm.post.attachment"
    redirect="vm.post.redirect"
    message="vm.post.message"></message-send-success>