<div rl-modal id="modalId" class="rl-modal">
    <h2 ng-if="data.title" class="rl-modal__heading">{{ data.title }}</h2>
    <a ng-click="vm.close()" class="rl-modal__close">X</a>
    <ng-transclude></ng-transclude>
<div>