<md-autocomplete 
    md-no-cache="true" 
    md-selected-item="vm.selection" 
    md-items="user in vm.search(vm.keyword)"  
    md-search-text="vm.keyword" 
    md-item-text="user.name">
      <span>{{ user.name }}</span>
</md-autocomplete>
<div class="find-user-select-actions">
    <md-button class="find-user-action" ng-if="vm.selection" ng-click="vm.selectUser( vm.selection )">Ok</md-button>
</div>