
.find-user-select-actions{
    text-align: center;
}

.find-user-action{
    display: block;
    width: 100%;
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
    margin-left: 0;
}