<md-content class="Page-container post-container bg auth-bg">
    <div class="bg__overlay"></div>
    <accept_battle_request></accept_battle_request>
</md-content>

<rl-modal id="find_user">
    <find_user_form_context find-user-params="data.userParams"></find_user_form_context>
</rl-modal>

<rl-modal id="upload_options">
    <upload-media upload-params="data.uploadParams"></upload-media>
</rl-modal>

<rl-modal id="post_media">
    <ng-youtube-embed
        ng-if="data.media.type === 'youtube'"
        video="data.media.resource_id"
        autoplay="true"
        color="white"
        width="100%";
        id="accept-post-media"
        disablekb="true">
    </ng-youtube-embed>

    <instagram ng-if="data.media.type === 'instagram'" media="data.media"></instagram>
</rl-modal>