@brand: #ea0aea;

.upload-options-block{
	margin-bottom: 1em;
}

.drop-box {
    background: transparent;
    border: 5px dashed #FFF;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.dragover {
    border: 5px dashed darken(@brand, 5%);
}

.drop-box__message{
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin-top: -48px;
	height: 60px;
	width: 100%;
	color: #fff;
}

.drop-box__icon{
	display: block;
	margin-bottom: .2em;
    font-size: 3em;
	-webkit-animation: nudging-upward .7s infinite; /* Safari 4+ */
	-moz-animation:    nudging-upward .7s infinite; /* Fx 5+ */
	-o-animation:      nudging-upward .7s infinite; /* Opera 12+ */
	animation:         nudging-upward .7s infinite; /* IE 10+, Fx 29+ */
	animation-direction: alternate;
}

.drop-box__text{
	display: block;
}

.upload-option-type.ng-enter {
  transition:0.2s linear all;
  opacity:0;
  transform: translateY(30px);
}

.upload-option-type.ng-enter.ng-enter-active {
  opacity:1;
  transform: translateY(0px);
}


@-webkit-keyframes nudging-upward {
  0%   { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
@-moz-keyframes nudging-upward {
  0%   { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
@-o-keyframes nudging-upward {
  0%   { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
@keyframes nudging-upward {
  0%   { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}


