<form class="modal upload-options-modal" name="vm.form">
    <div class="upload-options-block">
        <a href="" class="rl-btn rl-btn--fab" ng-class="{'rl-btn--active':vm.media.type=='upload'}"}" ng-click="vm.setType('upload')">
            <i class="ion-ios-upload-outline"></i>
        </a>
        <a href="" class="rl-btn rl-btn--fab" ng-class="{'rl-btn--active':vm.media.type=='youtube'}"}" ng-click="vm.setType('youtube')">
            <i class="ion-social-youtube-outline"></i>
        </a>
        <a href="" class="rl-btn rl-btn--fab" ng-class="{'rl-btn--active':vm.media.type=='instagram'}"}" ng-click="vm.setType('instagram')">
            <i class="ion-social-instagram-outline"></i>
        </a>
    </div>
    <div class="upload-option-body">
        <div class="upload-option-type" ng-if="vm.media.type === 'upload'">
            <div class="drop-box-container" ng-show="!vm.media.preview_url" >
                <div
                   class="drop-box"
                   ngf-select ngf-drop ng-model="vm.media.file"
                   ngf-drag-over-class="'dragover'"
                   ngf-pattern="'image/*'"
                   ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="350"
                   ngf-resize="{width: 350, height: 350, quality: .8, centerCrop: true}">
                    <span class="drop-box__message">
                        <i class="ion-ios-upload-outline drop-box__icon"></i>
                        <span class"drop-box__text">
                            Drag Image or Click to Upload
                        </span>
                    </span>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            </div>
            <div class="upload-preview-image" ng-show="vm.media.preview_url">
                <img ngf-thumbnail="vm.media.preview_url" class="upload-media-preview">
                <div class="upload-preview-image__options">
                    <div class="upload-preview-image__option-box">
                        <a class="rl-btn rl-btn--fab" ng-click="vm.save(vm.media)">
                            <i class="ion-checkmark-round"></i>
                        </a>
                        <a class="rl-btn rl-btn--fab" ng-click="vm.reset()">
                            <i class="ion-close-round"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="upload-option-type" ng-if="vm.media.type === 'youtube'">
            <md-input-container  class="input-block w">
                <input type="text" class="w" ng-model="vm.media.url" placeholder="Youtube Video Url"/>
            </md-input-container >
            <div class="upload-option-action-group">
                <a class="rl-btn rl-btn--fab" ng-if="vm.media.url" ng-click="vm.saveYoutube(vm.media)">
                    <i class="ion-checkmark-round"></i>
                </a>
                <a class="rl-btn rl-btn--fab" ng-click="vm.reset()">
                    <i class="ion-close-round"></i>
                </a>
            </div>
        </div>
        <div class="upload-option-type" ng-if="vm.media.type === 'instagram'">
            <md-input-container  class="input-block w">
                <input type="text" class="w" ng-model="vm.media.url" placeholder="Instagram Video/Image Url"/>
            </md-input-container >
            <div class="upload-option-action-group">
                <a class="rl-btn rl-btn--fab" ng-if="vm.media.url" ng-click="vm.saveInstagram(vm.media)">
                    <i class="ion-checkmark-round"></i>
                </a>
                <a class="rl-btn rl-btn--fab" ng-click="vm.reset()">
                    <i class="ion-close-round"></i>
                </a>
            </div>
        </div>
    </div>
</form>
